@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

:root {
  --main: rgb(26, 27, 27);
  --secondery1: rgb(26, 27, 27);
  --secondery2: rgb(253, 122, 0);
  --secondery3: rgb(255, 123, 0);
}

body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  background: var(--main);
  text-align: center;
  margin: 1em auto;
  color: var(--secondery2);
}

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-form {
  font-family: "Exo 2", sans-serif;
  width: 300px;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  border: none;
  background: var(--secondery1);
  border-radius: 10px;
  outline: none;
  color: white;
  box-shadow: 3px 0px 8px 2px black;
}

.input-form-s {
  font-family: "Exo 2", sans-serif;
  width: 330px;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  border: none;
  background: var(--secondery1);
  border-radius: 10px;
  outline: none;
  color: white;
  box-shadow: 3px 0px 8px 2px black;
}

.input-form2 {
  font-family: "Exo 2", sans-serif;
  width: 250px;
  margin: 1em;
  padding: 1em;
  font-size: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: white;
  border-bottom: 1px solid var(--secondery1);
}

.btn-form {
  font-family: "Exo 2", sans-serif;
  margin: 1em;
  padding: 1em;
  font-size: 1em;
  border: none;
  background: var(--secondery2);
  border-radius: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  width: 328px;
  font-weight: bold;
}

.icon-main {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: var(--secondery1);
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
}

.btn-add {
  font-family: "Exo 2", sans-serif;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0.5em;
  font-size: 1em;
  margin-top: 8px;
  border: none;
  background: var(--secondery2);
  outline: none;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 18px 5px var(--secondery2);
}

.btn-add2 {
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  background: var(--secondery1);
  outline: none;
  color: white;
  cursor: pointer;
}

.main-task-control {
  display: flex;
  flex-flow: wrap;
  justify-content: start;
}

.main-task {
  text-align: left;
  width: 33%;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  border: none;
  background: var(--secondery3);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0px 8px 5px var(--secondery1);
  word-break: break-all;
  cursor: pointer;
}

.chosen-task {
  text-align: left;
  width: 84%;
  padding: 1em;
  margin: auto;
  margin-top: 1em;
  border: none;
  background: var(--secondery3);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0px 8px 5px var(--secondery1);
  word-break: break-all;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondery1);
}

.dlt-tsk {
  font-family: "Exo 2", sans-serif;
  border: none;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 1em;
  font-size: 1em;
  cursor: pointer;
  background: var(--secondery1);
  box-shadow: 0 0px 10px 10px var(--secondery1);
  color: white;
}

.btn-back {
  font-family: "Exo 2", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  cursor: pointer;
  background: var(--secondery1);
  float: right;
  color: white;
}

.btn-dlt2 {
  font-family: "Exo 2", sans-serif;
  border: none;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: var(--secondery1);
  color: var(--secondery2);
  box-shadow: 0 0px 10px 10px var(--secondery1);
  float: right;
}

.form-main-add {
  border-radius: 50px;
  width: 100%;
  background: var(--main);
  position: fixed;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0px 10px 10px var(--secondery1);
}
